<aside class="menu">

    <p><img src="../assets/segrep_logo.png" alt="segrep_logo" srcset=""></p>


    <!---------------USUARIO------------------>
    <p class="menu-label">Usuario</p>
    <ul class="menu-list">
        <li><a routerLink="users/profile" routerLinkActive="is-active">Perfil</a></li>                  
        <li><a routerLink="users/clients" routerLinkActive="is-active">Mis Clientes</a></li>
        <li><a routerLink="users/repairers" routerLinkActive="is-active">Mis Técnicos</a></li>
    </ul>


    <!---------------REPARACIONES------------------>
    <p class="menu-label">Reparaciones</p>
    <ul class="menu-list">
      <li><a href="#">Mis Reparaciones</a></li>      
    </ul>


    <!---------------LOGOUT------------------>
    <p class="menu-label">Sesión</p>
    <ul class="menu-list">
      <li><a class="has-text-danger">Cerrar Sesión</a></li>      
    </ul>

</aside>