<aside class="menu">
    <p><img src="../assets/segrep_logo.png" alt="segrep_logo" srcset=""></p>
    <p class="menu-label">Usuario</p>
    <ul class="menu-list">
        <li><a routerLink="users/dashboard" routerLinkActive="active">Vista General</a></li>
        <li><a href="#">Perfil</a></li>  
        <li><a href="#">Mis Clientes</a></li>
        <li><a href="#">Mis Reparadores</a></li>
    </ul>
    <p class="menu-label">Reparaciones</p>
    <ul class="menu-list">
      <li><a href="#">Mis Reparaciones</a></li>
      <li><a href="#">Ajustes</a></li>
    </ul>
  </aside>